{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": 6
        },
        "useBuiltIns": true
      }
    ],
    [
      "es2015",
      {
        "modules": false
      }
    ],
    "stage-0",
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "add-module-exports",
    "transform-decorators-legacy",
    "lodash",
    [
      "import",
      [
        {
          "libraryName": "antd",
          "style": true
        }
      ]
    ],
    "recharts"
  ]
}
